*.iml
.gradle
.kotlin
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/manager/signing.properties
/out
/signing.properties
.jdk/
jdk21/
release.keystore
signing.properties
